<div class="container">
    <div class="form-inline">
        <div class="col col-6">
            <h2>Listagem de Grupros e Membros</h2>
        </div>
        <button type="button" class="btn btn-outline-primary" onclick="Filtro()">Filtro por Código do Grupo</button>
    </div>
    <hr />
</div>

<br />


<div class="container">
    <div class="table-responsive">
        <table class="table-striped">
            <thead>
                <tr>
                    <th style="padding: 0px 20px 0px 20px;">Id</th>
                    <th style="padding: 0px 20px 0px 20px;">Grupos</th>
                    <th style="padding: 0px 20px 0px 20px;">Id</th>
                    <th style="padding: 0px 20px 0px 20px;">Nome</th>
                    <th style="padding: 0px 20px 0px 20px;">Email</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in (List<GrupoUsuario>)ViewBag.Lista)
                    {
                        <tr>
                            <td style="padding: 0px 20px 0px 20px;">@item.GruposId</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.GrupoNome</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.UsuariosId</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.Nome</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.Email</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br /><hr />
        <div class="form-inline">
            <button type="button" class="btn btn-success btn-sm" onclick="Registrar()">Registrar Novo Membro à um Grupo</button>
            <button type="button" class="btn btn-dark btn-sm ml-3" onclick="Voltar()">Voltar</button>
        </div>
    </div>
</div>


<script>
    function Registrar() {
        window.location.href = '../GrupoUsuario/Registrar';
    }

    function Filtro() {
        window.location.href = '../GrupoUsuario/Filtro';
    }


    function Voltar() {
        window.location.href = '../Home/Index';
    }
</script>