@model IEnumerable<ConsumoWebAPI_IIS_MVC.Models.Grupo>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Grupos</h1>
    <hr />

    <p>
        <button type="button" class=" btn btn-outline-success btn-sm Cadastro">Add. Novo Grupo</button>
    </p>

    <div class="table-responsive">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrupoNome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p style="padding: 0px 20px 0px 20px; color: red;">@Html.DisplayFor(modelItem => item.Id)</p>
                        </td>
                        <td>
                            <p style="padding: 0px 20px 0px 20px;">@Html.DisplayFor(modelItem => item.GrupoNome)</p>
                        </td>
                        <td>
                            <button type="button"  class="btn btn-outline-primary btn-sm Editar" data-id="@item.Id">Editar</button> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="modal" id="modal">

        </div>

        @section scripts{
            <script>
                $(function () {
                    $(".Editar").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Edit?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });
                })
                              

                $(".Cadastro").click(function () {
                    $("#modal").load("Create", function () {
                        $("#modal").modal();
                    })
                });

            </script>
        }
    </div>
</div>